body{
  background-color:black;
  overflow:hidden;
}
#container
{
  width:93%;
  margin:0 auto;
  height:70%;
 margin-left:8%;
}
.block
{

  width:2.5em;
  height:2.5em;
  margin:0.12em 0.12em 0.12em 0.12em;
  display:inline-block;
  float:left;


}
#buttons
{
  width:7.2%;
  height:7%;
  float:left;
}
.btn{
background-color:lightblue;
border:none;
clear:both;
width:80%;
height:3em;
border-radius:50%;
font-family:'Lobster',Monospace;
font-size:1.5em;
margin-left:10%;
margin-top:10%;
}
.btn-2{
  background-color:lightgreen;
  border:none;
  clear:both;
  width:80%;
  height:3em;
  border-radius:50%;
  margin-top:230%;
  font-family:'Lobster',Monospace;
  font-size:1.5em;
  margin-left:10%;
  margin-bottom:10%;
}

#showColor
{
  border-radius:50px;
 background-color:blue;
}
